@model CarViewModel
@{
  ViewData["Title"] = "Create";

}
<h2>Create</h2>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@using (Html.BeginForm())

{
    <div class="validation" asp-validation-summary="All"></div>
    <div class="form-group">
      @Html.LabelFor(c => c.Brand)
      @Html.TextBoxFor(c => c.Brand, new { @class = "form-control" })
      <span asp-validation-for="Brand"></span>
    </div>
    <div class="form-group">
      @Html.LabelFor(c => c.Model)
      @Html.TextBoxFor(c => c.Model, new { @class = "form-control" })
      <span asp-validation-for="Model"></span>
    </div>
    <div class="form-group">
      @Html.LabelFor(c => c.Type)
      @Html.DropDownListFor(c => c.Type, new List<SelectListItem>() { new SelectListItem { Text="Passenger car",Value= "Passenger",Selected = true },
              new SelectListItem { Value="Truck",Text="Truck" }  })
      <span asp-validation-for="Type"></span>
    </div>
    <div class="form-group">
      @Html.LabelFor(c => c.Price)
      @Html.TextBoxFor(c => c.Price, new { @class = "form-control" })
      <span asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
      @Html.LabelFor(c => c.Year)
      @Html.TextBoxFor(c => c.Year, new { @class = "form-control" })
      <span asp-validation-for="Year"></span>
    </div>
   
    @Html.HiddenFor(c => c.Id)
    @Html.HiddenFor(c => c.CarOwners);

    <button type="submit" class="btn btn-primary ">Save</button>

    }



