@model IEnumerable<CarViewModel>
@{
  ViewData["Title"] = "Index";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<h2>THERE MUST BE CARS</h2>

<table class="table-bordered">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Model)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Type)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Price)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Year)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
          @Html.ActionLink("Delete", "Delete","Car", new { id = item.Id },
            new { onclick = "return confirm('Are you sure you wish to delete this car?');", @class= "btn btn-danger" })
        </td>
      </tr>
    }
  </tbody>
  
</table>
@Html.ActionLink("Add car", "Create", "Car",null,new { @class= "btn btn-primary" })
 